<div class="col-sm-offset-2 col-sm-10">
    <h4 style="display: inline-block">Talk for {{conference.title}}</h4>
    <span style="margin-left:5px">
        ({{conference.dateFrom | date:'dd.MM.yyyy'}} -
        {{conference.dateTill  | date:'dd.MM.yyyy'}})
      </span>
</div>

<form name="talkForm" ng-controller="ConferenceController" role="form" class="form-horizontal">

    <ul ng-hide="!successMessages" class="success">
        <li ng-repeat="message in successMessages">{{message}}</li>
    </ul>
    <ul ng-hide="!errorMessages" class="error">
        <li ng-repeat="message in errorMessages">{{message}}</li>
    </ul>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title:</label>

        <div class="col-sm-10">
            <input id="title" type="text" required ng-model="talk.title" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description:</label>

        <div class="col-sm-10">
            <textarea id="description" class="form-control" rows="3" ng-model="talk.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="dateOn" class="col-sm-2 control-label">Day:</label>

        <div class="col-sm-10">
            <input pd-date-input id="dateOn" required ng-model="talk.dateOn" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="dateFrom" class="col-sm-2 control-label">From:</label>

        <div class="col-sm-10">
            <input type="time" id="dateFrom" required ng-model="talk.timeFrom" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="dateTill" class="col-sm-2 control-label">Till:</label>

        <div class="col-sm-10">
            <input type="time" id="dateTill" required ng-model="talk.timeTill" class="form-control" dateInput>
        </div>
    </div>

    <div class="form-group">
        <label for="room" class="col-sm-2 control-label">Room:</label>

        <div class="col-sm-10">
            <select id="room" ng-model="talk.room.id" ng-options="room.id as roomTitle(room) for room in roomList"
                    class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="room" class="col-sm-2 control-label">Speaker:</label>

        <div class="col-sm-10">
            <div ng-repeat="speaker in speakerList">
                <input
                        disabled
                        type="checkbox"
                        name="selectedSpeaker[]"
                        value="{{speaker.name}}"
                        ng-checked="isSpeakerAssigned(talk,speaker)"
                        ng-click="alert()">
                {{speaker.name}}
            </div>
        </div>
    </div>

    <input id="id" type="hidden" ng-model="talk.id"/>
    <input id="version" type="hidden" ng-model="talk.version"/>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="saveTalk(conference, talk, talkForm)">
                Save
            </button>
        </div>
    </div>


</form>
