<div>
    <alert ng-show=$parent.showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
    <table ng-controller="HomeController" class="table">
        <thead>
        <tr>
            <th style="min-width: 100px">Title</th>
            <th>Description</th>
            <th style="min-width: 100px">From</th>
            <th style="min-width: 100px">Till</th>
        </tr>
        </thead>
        <tbody ng ng-repeat="conference in conferenceList">
        <tr>
            <td>
                <a href="#/conferences/{{conference.id}}">{{conference.title}}</a><br>
                <span ng-show="loggedin" class="glyphicon glyphicon-edit" ng-click="editConference(conference.id)" style="cursor:pointer"></span>
            </td>
            <td>{{conference.description}}</td>
            <td>{{conference.dateFrom | date:'dd.MM.yyyy'}}</td>
            <td>{{conference.dateTill | date:'dd.MM.yyyy'}}</td>
        </tr>
        </tbody>
    </table>
</div>
