<div>
    <div class="container" >
        <h4>List Conferences</h4>
        <hr/>
        <alert ng-show=$parent.showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
        <table ng-init="listConferences()" class="table">
            <thead>
            <tr>
                <th>Conference-ID</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody ng-repeat="conference in conferenceList">
            <tr>
                <td><a href="#/conferenceDetail/{{conference.id}}">{{conference.id}}</a></td>
                <td>{{conference.title}} </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
